.App {
  max-width: 1280px;
  width: 100vw;
  text-align: center;
}
.App > div {
  margin-top: 20px;
}
.Label {
  font-weight: 600 !important;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

.progressBar{
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  z-index: 1;
  margin:0  !important
}
.progressBar .ant-progress-text{
  display: none !important;
}